<template>
  <div class="card" style="width:720px">
    <div class="text-center">
      <div class="card-body">
        <h5 class="card-title">{{ item.name | capitalize }}</h5>
        <youtube :video-id="item.videoId" ref="youtube"></youtube>
      </div>
      <div>
        <span v-for="(group, index) in item.type" :key="index" :class="`badge badge-${tags[group]}`">{{ group }}</span>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from 'vue'
import VueYouTubeEmbed from 'vue-youtube-embed'
Vue.use(VueYouTubeEmbed)

export default {
  data () {
    return {
      // list of tags to giving each a different color
      tags: {
        kendo: 'primary',
        dogs: 'secondary',
        food: 'success',
        dota: 'danger'
      }
    }
  },
  filters: {
    // this filter will can be used to capitalise words
    capitalize: item => {
      return item.toUpperCase()
    }
  },
  props: {
    // this component expects a prop of type object
    item: {
      type: Object,
      required: true
    }
  }
}
</script>
