<template>
  <div class="container-fluid">
    <div class="search-wrapper">
      <!-- the search bar form -->
      <form v-on:submit="getfilteredData">
        <div class="form-row">
          <div class="col-6">
            <input type="text" class="form-control" placeholder="Enter key word  ..." v-model="search" v-on:keyup="getfilteredData">
          </div>
          <div class="col-2">
            <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
          </div>
        </div>
      </form>
      <!-- check boxes -->
      <div id="checkboxes">
        <div v-for="(type,index) in types" :key="index" class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox"  v-model="type.checked" v-on:change="getfilteredData">
          <label class="form-check-label">
            {{ type.value }}
          </label>
        </div>
      </div>
    </div>
    <!-- end of checkboxes -->
    <div class="col-8">
      <!-- iterate data -->
      <template v-for="(item, index) in filteredData" >
        <item-card  :key="index" :item="item"></item-card>
      </template>
    </div>
  </div>
</template>

<script>
import ItemCard from './ItemCard'
import data from '../data'

export default {
  name: 'SearchPage',
  components: {
    'item-card': ItemCard
  },
  computed: {
    selectedFilters: function () {
      const filters = []
      const checkedFiters = this.types.filter(obj => obj.checked)
      checkedFiters.forEach(element => {
        filters.push(element.value)
      })
      return filters
    }
  },
  data () {
    return {
      filteredData: [],
      search: '',
      types: [
        {
          checked: false,
          value: 'kendo'
        },
        {
          checked: false,
          value: 'dogs'
        },
        {
          checked: false,
          value: 'food'
        },
        {
          checked: false,
          value: 'dota'
        }
      ]
    }
  },
  methods: {
    sanitize (s) {
      return s.replace(/ /g, '-')
    },
    getfilteredData: function () {
      this.filteredData = data
      let filteredDataByfilters = []
      let filteredDataBySearch = []
      // first check if filters where selected
      if (this.selectedFilters.length > 0) {
        filteredDataByfilters = this.filteredData.filter(obj => this.selectedFilters.every(val => obj.type.indexOf(val) >= 0))
        this.filteredData = filteredDataByfilters
      }
      // then filter according to keyword, for now this only affects the name attribute of each data
      if (this.search !== '') {
        filteredDataBySearch = this.filteredData.filter(obj => obj.name.indexOf(this.search.toLowerCase()) >= 0)
        this.filteredData = filteredDataBySearch
      }
    }
  },
  mounted () {
    this.getfilteredData()
  }
}
</script>
